<launch>
  <include file="$(find rcah18_pepper_navigation)/launch/pcl2laser.launch" /> <!-- Converts depth image to laserscan -->
  <include file="$(find rcah18_pepper_navigation)/launch/amcl_omni.launch" /> <!-- Runs localization -->
  <include file="$(find rcah18_pepper_navigation)/launch/move_base.launch" /> <!-- Runs navigation -->
</launch>
