<launch>
  <!-- Creates laserscan in target frame from input pointcloud -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pcl2laser" output="screen">
     <remap from="cloud_in" to="/pepper_robot/camera/depth_registered/points"/>
     <remap from="scan" to="/laserscan"/>
     <param name="min_height" value="0.2" />
     <param name="max_height" value="1.5" />
     <param name="angle_min" value="-1.57" />
     <param name="angle_max" value="1.57" />
     <param name="angle_increment" value="0.01" />
     <param name="scan_time" value="0" />
     <param name="range_min" value="0.45" />
     <param name="range_max" value="4.0" />
     <param name="target_frame" value="base_footprint" />
     <param name="concurrency_level" value="0" />
     <param name="use_inf" value="true" />
  </node>
</launch>
